@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary: white;
    --secondary: #7eb1ac;
    --faded: linear-gradient(to right, #bbdbd8, white);
    --fill: linear-gradient(to right, #bbdbd8, #7eb1ac);
}

body {
    margin: 0;
    background: var(--primary);
    font-family: 'Roboto Condensed', sans-serif;
    animation: fadeIn ease 2s;
}

#wrapper {
    width: 100%;
    max-width: 960px;
    padding-bottom: 20px;
    padding-top: 120px;
    display: flex;
    margin: auto;
    background: var(--primary);
}

article {
    background: var(--primary);
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    padding-left: 12px;
    padding-bottom: 12px;
    
}



header {
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: var(--primary);
    text-shadow: #000 0 0 .2em;
    background: var(--faded);
    border-radius: 15px;
}

#wrapper>header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 960px;
    justify-content: center;
    border-bottom: solid 1px rgb(228, 228, 228);
    padding: 8px;
    padding-bottom: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-8px);
    background: var(--fill);
}

aside {
    padding-left: 15px;
    margin-left: 15px;
    background: var(--primary);
    color: var(--secondary);
}

img {
    border-radius: 25px;
    width: 150px;
    height: 200px;
    object-fit: contain;
    padding-bottom: 140px;
}

img:hover {
    animation: scale ease 1s;
}

h1 {
    padding: 25px;
    text-align: center;
}

h2 {
    padding-left: 12px;
}

p {
    padding-left: 12px;
}

body>div>footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    background: var(--fill);
    border-top: solid 1px rgb(228, 228, 228);
    padding: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-8px);
    color: var(--primary);
    text-shadow: #000 0 0 .2em;
    border-radius: 15px;
}

a:hover {
    color: tomato;
}

.linktext:hover {
    color: tomato;
}

@media screen and (max-width: 959px) {
    #wrapper {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale {
    to {
        transform: scale(1.2);
    }
}